<%- include("./partials/header") %>

<h1>Login In form</h1>

<form action="/login" method="post">
    <input type="text" placeholder="user name" name="username">
    <input type="password" name="password" placeholder="password">
    <button>Submit</button>
</form>

<%- include("./partials/footer") %>
